<div class="card">
  <div class = "card-header"><h5> Call Details {{customer.customerName}} </h5></div>
   
    
        <div class = "card-body">

          <div *ngIf = "customer.calls.length==0">
            <label>There no call details</label>
          </div>

          <ul class = "list-group">

            <li class = "list-group-item " *ngFor="let call of customer.calls">
              <app-call-component [call] = "call"></app-call-component>
            </li>
           
      
          </ul>
  
        </div>
        <div class = "card-footer ">
            <button type='button' class=" btn btn-success" (click)="addCall()">Add</button>
         
      </div>

 
  
</div>