<div class="card">
  <div class = "card-header"><h5>Product Details</h5></div>
   
    <form (ngSubmit)="onSave(productForm,product.productNumber)" #productForm="ngForm">
        <div class = "card-body">
          <div class="form-group">
            <label for="productNumber">Product Number</label>
            <input type="number"  class="form-control"  name="productNumber" [value]="product.productNumber"  readonly>
          </div>
          <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control"   name="productName"  [(ngModel)]="product.productName" ngModel [readonly]="enableToedit">
          </div>

          <div class="form-group">
            <label for="price">Price :</label>
            <input type="number" class="form-control"  name="price"  [(ngModel)]="product.price" ngModel [readonly]="enableToedit">
          </div>

        </div>
        <div class = "card-footer ">
          <div class="d-grid gap-2 d-md-flex" >
            <button type='button' class=" btn btn-success" (click)="OnNew()">New</button>
            <button type='button' class=" btn btn-warning" (click)="OnEdit()">Edit</button>
            <button type="submit" class=" btn btn-primary">Save</button>    
            
         </div>
         
      </div>
    </form>

 
  
</div>